<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="EndToEnd">
            <directory>EndToEnd</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>..</directory>
        </include>
        <exclude>
            <directory>../vendor</directory>
            <directory>../node_modules</directory>
            <directory>../tests</directory>
            <directory>../docs</directory>
            <directory>../log</directory>
        </exclude>
    </source>

    <!-- <coverage> -->
    <!--     <report> -->
    <!--         <html outputDirectory="coverage"/> -->
    <!--         <text outputFile="coverage.txt"/> -->
    <!--     </report> -->
    <!-- </coverage> -->
</phpunit>
